body{
	background: url('../img/bg.png');
	background-repeat: repeat;
}

h1,h2,h3,h4,h5,h6{
	color : #00ccff;
}

.white{
	color: #EEE;
}

a{
	color : #25849c;
}

.navbar .brand{
	padding: 0px;
}

.navbar .brand > img{
	padding-top: 0px;
	height: 40px;
}

.navbar .nav{
	float : right;
}

.hero-unit p{
	padding: 25px 70px 20px;
}

@media (max-width: 480px){

	.hero-unit p{
		padding: 5px 5px 5px;
		font-size: 14px;
	}

	#slider {
		width : 0%;
		display: none;
	}

	#accordion {
		width : 100%;
	}

}

.header-line{
	background: url('../img/header-line.png');
	background-repeat: repeat;
	height: 4px;
	width: 100%;
}

.orange{
	color : #f64300;
	text-transform: uppercase;
}

.hero-unit {
	padding: 10px 0px 10px;
}

.slide-img{
	background-repeat: no-repeat;
	background-size: auto 100% !important;
	background-position: 20% !important;
	height: 100%;
	width: 100%;
}

.icon-twitter{
	background: url('../img/twitter.png');
	background-repeat: no-repeat;
	height: 14px;
	width: 14px;
}

.icon-linkedin{
	background: url('../img/linkedin.png');
	background-repeat: no-repeat;
	height: 14px;
	width: 14px;
}

.justify {
	text-align: justify;
}